yemek-asistani/workflows/yemek-asistani.json
{
  "name": "Yemek Asistanı",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Her Gün 15:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "🍽️ *Akşam Yemeği Asistanı*\n\nBugün akşam yemeği için öneri hazırlamamı ister misin?\n\nCevapla:\n1️⃣ - Evdeki malzemelere göre öner\n2️⃣ - Bana direkt öneri ver\n3️⃣ - Hafif bir şey öner",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-daily-question",
      "name": "Günlük Soru Gönder",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [480, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Mesaj Al",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 520],
      "webhookId": "meal-assistant-webhook",
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "check-chat-id",
              "leftValue": "={{ $json.message.chat.id.toString() }}",
              "rightValue": "={{ $vars.TELEGRAM_CHAT_ID }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-group",
      "name": "Doğru Grup mu?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 520]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "check-admin-cmd",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/ayarla",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-admin",
      "name": "Yönetici Komutu mu?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 520]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "check-text",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-option",
      "name": "Seçenek Kontrol",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [960, 440],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "1",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "malzeme"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "2",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "direkt"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "3",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hafif"
            }
          ]
        },
        "fallbackOutput": "extra"
      }
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "🥗 Evde hangi malzemeler var? Lütfen virgülle ayırarak yaz.\n\n*Örnek:* tavuk, patates, soğan, domates, zeytinyağı",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "ask-ingredients",
      "name": "Malzeme Sor",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1200, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "llama3.2:3b",
          "prompt": "={{ 'Sen bir Türk mutfağı asistanısın. 3 kişilik aile için akşam yemeği önerisi yapacaksın.\n\nÖNEMLİ KURALLAR:\n' + $vars.YEMEK_KURALLARI + '\n\nSON 7 GÜNDE ÖNERİLEN YEMEKLER (tekrar etme): ' + $vars.GECMIS_ONERILER + '\n\nSADECE ŞU MALZEMELERİ KULLAN: ' + $json.message.text + '\n\nÖnerin şu formatta olsun:\n🍽️ YEMEĞİN ADI\n\n📝 Malzemeler (3 kişilik):\n- [liste]\n\n👨‍🍳 Hazırlık: [tahmini süre]\n\n💡 Kısa tarif ipucu: [1-2 cümle]\n\nSadece 1 öneri ver, başka açıklama ekleme.' }}",
          "stream": false
        },
        "options": {}
      },
      "id": "ollama-ingredients",
      "name": "Ollama - Malzemeye Göre",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 460]
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "llama3.2:3b",
          "prompt": "={{ 'Sen bir Türk mutfağı asistanısın. 3 kişilik aile için akşam yemeği önerisi yapacaksın.\n\nÖNEMLİ KURALLAR:\n' + $vars.YEMEK_KURALLARI + '\n\nSON 7 GÜNDE ÖNERİLEN YEMEKLER (tekrar etme): ' + $vars.GECMIS_ONERILER + '\n\nDirekt bir öneri sun, evde genellikle bulunan malzemelerle yapılabilecek sağlıklı bir Türk yemeği öner.\n\nÖnerin şu formatta olsun:\n🍽️ YEMEĞİN ADI\n\n📝 Malzemeler (3 kişilik):\n- [liste]\n\n👨‍🍳 Hazırlık: [tahmini süre]\n\n💡 Kısa tarif ipucu: [1-2 cümle]\n\nSadece 1 öneri ver, başka açıklama ekleme.' }}",
          "stream": false
        },
        "options": {}
      },
      "id": "ollama-direct",
      "name": "Ollama - Direkt Öneri",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 620]
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "llama3.2:3b",
          "prompt": "={{ 'Sen bir Türk mutfağı asistanısın. 3 kişilik aile için HAFIF bir akşam yemeği önerisi yapacaksın.\n\nÖNEMLİ KURALLAR:\n' + $vars.YEMEK_KURALLARI + '\nEk kural: Hafif ve sindirimi kolay bir yemek olsun. Az yağlı, az kalorili.\n\nSON 7 GÜNDE ÖNERİLEN YEMEKLER (tekrar etme): ' + $vars.GECMIS_ONERILER + '\n\nHafif bir Türk yemeği öner (çorba, salata, sebze yemeği gibi).\n\nÖnerin şu formatta olsun:\n🍽️ YEMEĞİN ADI\n\n📝 Malzemeler (3 kişilik):\n- [liste]\n\n👨‍🍳 Hazırlık: [tahmini süre]\n\n💡 Kısa tarif ipucu: [1-2 cümle]\n\nSadece 1 öneri ver, başka açıklama ekleme.' }}",
          "stream": false
        },
        "options": {}
      },
      "id": "ollama-light",
      "name": "Ollama - Hafif Öneri",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 780]
    },
    {
      "parameters": {
        "jsCode": "// Tüm Ollama yanıtlarını birleştir\nconst response = $input.first().json;\nconst mealText = response.response || 'Öneri alınamadı.';\n\n// Geçmişi güncelle\nconst history = $vars.GECMIS_ONERILER || '';\nconst lines = history.split(',').filter(l => l.trim());\n\n// Yemeğin adını çıkar (ilk satırdan emoji temizle)\nconst firstLine = mealText.split('\\n')[0];\nconst mealName = firstLine.replace(/[🍽️✨🥗🍲🥘]/gu, '').trim();\n\n// Son 7 öneriyi tut\nlines.push(mealName);\nif (lines.length > 7) lines.shift();\nconst newHistory = lines.join(', ');\n\nreturn [\n  {\n    json: {\n      mealText,\n      newHistory,\n      mealName\n    }\n  }\n];"
      },
      "id": "process-response",
      "name": "Yanıtı İşle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 560]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "={{ '✅ *Bugünün Akşam Yemeği Önerisi*\\n\\n' + $json.mealText + '\\n\\n_Bu öneriyi beğenmedin mi? Tekrar /yemek yaz._' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-meal",
      "name": "Yemek Önerisini Gönder",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1680, 560],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "update-history",
              "name": "GECMIS_ONERILER",
              "value": "={{ $json.newHistory }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "update-history",
      "name": "Geçmişi Güncelle",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1920, 560]
    },
    {
      "parameters": {
        "jsCode": "// Admin komutu: /ayarla [kural metni]\nconst text = $input.first().json.message.text;\nconst parts = text.split(' ');\nparts.shift(); // /ayarla kısmını çıkar\nconst newRule = parts.join(' ');\n\nreturn [{ json: { newRule, chatId: $input.first().json.message.chat.id } }];"
      },
      "id": "parse-admin-cmd",
      "name": "Admin Komutunu Ayrıştır",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 620]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "update-rules",
              "name": "YEMEK_KURALLARI",
              "value": "={{ $json.newRule }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "update-rules",
      "name": "Kuralları Güncelle",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1200, 620]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ '✅ Yemek kuralları güncellendi!\\n\\n*Yeni kurallar:*\\n' + $vars.YEMEK_KURALLARI }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "confirm-rules",
      "name": "Kural Güncellendi Bildir",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1440, 620],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/yemek",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-yemek-cmd",
      "name": "/yemek Komutu mu?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "🍽️ *Akşam Yemeği Asistanı*\n\nBugün akşam yemeği için öneri hazırlamamı ister misin?\n\nCevapla:\n1️⃣ - Evdeki malzemelere göre öner\n2️⃣ - Bana direkt öneri ver\n3️⃣ - Hafif bir şey öner",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-menu-again",
      "name": "Menüyü Tekrar Gönder",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1200, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Her Gün 15:00": {
      "main": [
        [{ "node": "Günlük Soru Gönder", "type": "main", "index": 0 }]
      ]
    },
    "Telegram Mesaj Al": {
      "main": [
        [{ "node": "Doğru Grup mu?", "type": "main", "index": 0 }]
      ]
    },
    "Doğru Grup mu?": {
      "main": [
        [{ "node": "Yönetici Komutu mu?", "type": "main", "index": 0 }],
        []
      ]
    },
    "Yönetici Komutu mu?": {
      "main": [
        [{ "node": "Admin Komutunu Ayrıştır", "type": "main", "index": 0 }],
        [{ "node": "/yemek Komutu mu?", "type": "main", "index": 0 }]
      ]
    },
    "/yemek Komutu mu?": {
      "main": [
        [{ "node": "Menüyü Tekrar Gönder", "type": "main", "index": 0 }],
        [{ "node": "Seçenek Kontrol", "type": "main", "index": 0 }]
      ]
    },
    "Seçenek Kontrol": {
      "malzeme": [
        [{ "node": "Malzeme Sor", "type": "main", "index": 0 }]
      ],
      "direkt": [
        [{ "node": "Ollama - Direkt Öneri", "type": "main", "index": 0 }]
      ],
      "hafif": [
        [{ "node": "Ollama - Hafif Öneri", "type": "main", "index": 0 }]
      ]
    },
    "Ollama - Malzemeye Göre": {
      "main": [
        [{ "node": "Yanıtı İşle", "type": "main", "index": 0 }]
      ]
    },
    "Ollama - Direkt Öneri": {
      "main": [
        [{ "node": "Yanıtı İşle", "type": "main", "index": 0 }]
      ]
    },
    "Ollama - Hafif Öneri": {
      "main": [
        [{ "node": "Yanıtı İşle", "type": "main", "index": 0 }]
      ]
    },
    "Yanıtı İşle": {
      "main": [
        [{ "node": "Yemek Önerisini Gönder", "type": "main", "index": 0 }]
      ]
    },
    "Yemek Önerisini Gönder": {
      "main": [
        [{ "node": "Geçmişi Güncelle", "type": "main", "index": 0 }]
      ]
    },
    "Admin Komutunu Ayrıştır": {
      "main": [
        [{ "node": "Kuralları Güncelle", "type": "main", "index": 0 }]
      ]
    },
    "Kuralları Güncelle": {
      "main": [
        [{ "node": "Kural Güncellendi Bildir", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Istanbul"
  },
  "staticData": null,
  "tags": ["yemek", "telegram", "ollama"],
  "meta": {
    "instanceId": "yemek-asistani-v1"
  }
}
